body {
    background: #111;
    background-image: url('../assets/darkmoon.jpg');
  }

#home, #myweather, #about, #register, #login {
    font-family: 'Monoton', cursive;
    text-shadow: 2px 2px #54b6d3;
}

.weatherhome {
    text-align: center;
    color: white;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 50px;
    margin-top: 190px;
    text-shadow: 5px 5px rgb(20, 101, 126);   
}

#about-us {
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    text-shadow: 2px 2px #1a1818; 
}

#names {
    text-align: center;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 40px;
    background: linear-gradient(to bottom right, black, rgb(80, 77, 77));
    text-shadow: 3px 3px #54b6d3;
}

.aboutus-border {
    border-top: 2px solid rgba(95, 93, 93, 0.2);
  }

.form {
    text-align: center;
    font-family: 'Monoton', cursive;
    color: white;
    font-size: 20px;
    border: medium solid rgb(20, 101, 126);
    position: absolute; 
    padding: 7%;
    margin-left: 500px;
    margin-top: 40px;
    text-shadow: 3px 3px #363535;
    background: linear-gradient(to bottom right, rgb(52, 77, 100), rgb(20, 101, 126));
}

.registerform {
    text-align: center;
    font-family: 'Monoton', cursive;
    color: white;
    font-size: 20px;
    border: medium solid rgb(20, 101, 126);
    position: absolute; 
    padding: 7%;
    margin-left: 500px;
    margin-top: 40px;
    text-shadow: 3px 3px #363535; 
    background: linear-gradient(to bottom right, rgb(52, 77, 100), rgb(20, 101, 126));
    margin-bottom: 50px;
}

#username, #password, #reg-username, #reg-password, #reg-city, #reg-state, #reg-zipcode {
    font-family: 'Sedgwick Ave Display', cursive;
    text-align: center;
}