.topnav {
    overflow: hidden;
    background: linear-gradient(to bottom right, black, rgb(80, 77, 77));
    opacity: .7;
    position: relative;
    background-position: center;
    top: 0%;
    width: 100%;
    right: .1%;
    padding-top: 2vw;
    padding-bottom: 2vw;
  }
  
  .topnav a {
    display: inline;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2vw;
  }
  
  .topnav a:hover {
    background-color: rgb(6, 84, 100);
    opacity: .7;
    color: white;
  }

  .delete-forecast {
    display: block;
    color: white;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    font-size: 2vw;
    margin: 0 auto;
    display: block;
    max-width: 900px;
    background-color: darkgrey;
  }

  .divTable{
	display: table;
    width: 100%;
    text-align: center;
    border: 10px solid #000;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
